@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{

    --very-dark-magenta: hsl(300, 43%, 22%);
    --soft-pink: hsl(333, 80%, 67%);
    --dark-grayish-magenta: hsl(303, 10%, 53%);
    --light-grayish-magenta: hsl(300, 24%, 96%);
    --white: hsl(0, 0%, 100%)
}

 

body{
    font-family: 'League Spartan', sans-serif;
    font-weight: 400;
    font-size: 15px;
    min-width: 100vh;
}
.container{
    
    height: auto;
    width: 370px;
    padding: 2em 0;
    
    margin: auto;
}
/* intro */
.intro{
    
    text-align: center;
    width: 350px;
    margin: 0 auto;
}

h1{
    font-size: 2.3rem;
    color: var(--very-dark-magenta);
    margin-bottom: 0.7em;
}
.intro p{
    color: var(--dark-grayish-magenta);
    font-weight: 500;
    line-height: 1.3;
    font-size: 1rem;
}

/* rating */

.rating-container{
     
    width: 350px;
    margin: 1em auto;
    background: var(--light-grayish-magenta);
    color: var(--very-dark-magenta);
    font-weight: 700;
    text-align: center;
    padding: 1em 0;
    border-radius: 0.5rem;
    font-size: 0.9rem;
}

.rating-container ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 0.5em;
    margin-bottom: 0.7em;
}

/* testimonial */
.box{
    margin: 1em auto;
    width: 350px;
    background-color: var(--very-dark-magenta);
    color:var(--white);
    padding: 2em;
    border-radius: 0.5rem;

}
.author{
    display: flex;
     
    align-items: center;
    gap: 1em;
    margin-bottom: 1.5em;
}
.verified-buyer{
    color: var(--soft-pink);
    margin-top: 0.37em;
}
.comment{
    line-height: 1.3;
     
}
.bold{
    font-weight: 700;
}
.avatar{
    border-radius: 50%;
    width: 2.5rem;
}

@media(min-width:1000px){
    body{
        padding-top:3.5rem ;
    }

    .container{
        width: 1000px;
        margin: 0 auto;
        
    }
    /* header */
    .header{
         
        display: flex;
        justify-content: space-between;
    }
    /* intro */
    .intro{
         
        text-align: left;
        margin-left: 0;
    }

    /* star rating */
    .rating{
        margin-right: 0;
    }
    .rating-container{
        margin-right: 0;
        padding: 0.4em 0;
        display: flex;
        width:400px;
        align-items: center;
        gap: 1.3em;
        padding-left: 2em;
        
    }
    .rating-container:first-child{
        margin-right: 100px;
    }
  
    .rating-container:nth-child(2){
       
        margin-right: 50px;
    }
   
    .rating-container ul{
         
        padding-top: 0.7em;
        
    }

    /* testimonial */
    .testimonial{
        margin-top: 4em;
        display: flex;
        
        gap: 1.7em;
        
         
    }
    .box{
        width: 374px;
        margin: 0;
        height: 230px;
    }
    .box:nth-child(2){
        margin-top: 30px;
    }
    .box:nth-child(3){
        margin-top: 60px;
    }
}